<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Add Stock</h1>
        </div>
      </div>
      <div class="row bg-light p-3">
        <div class="col-6">
          <%= form_for @posts, as: :stock do |f| %>
            <%= f.text_field :name %><br>
            <%= f.text_field :price %><br>
            <%= f.text_field :interest %><br>
            <%= f.text_field :duration %><br>
            <%= f.submit 'Add Stock' %>
          <% end %>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </body>
</html>


