<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Stock productivity calculator</h1>
        </div>
      </div>
      <div class="row bg-light p-5">
        <div class="col-12 text-center">
          <% if user_signed_in? %>
            <h5 class="mb-2 text-muted font-weight-light">No stocks available. Please add stock</h5>

            <% if @posts.blank? %>
            <h5>No stocks</h5>
            <% else %>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= post.name %></td>
                  <td><%= post.price %></td>
                  <td><%= post.duration %></td>
                  <td><%= post.interest %></td>
                  <td><%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" } %></td>
                </tr>
            <% end %>
          <% end %>

          <% else # user not signed it %>
            <h5 class="mb-2 text-muted font-weight-light">Login or register for stock operations</h5>
          <% end # if user is signed it %>
        </div>
      </div>
    </div>
  </body>
</html>


