<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Add Stock</h1>
        </div>
      </div>
      <div class="row bg-light p-3">
        <div class="col-6">
          <%= form_for :stock do |f| %>
            <div class="form-group">
              <label><%= f.label :name %></label>
              <%= f.text_field :name, autofocus: true, autocomplete: "off", :class => 'form-control' %>
            </div>
            <div class="form-group">
              <label><%= f.label :price %></label>
              <%= f.text_field :price, autocomplete: "off", :class => 'form-control' %>
            </div>
            <div class="form-group">
              <label><%= f.label :duration %></label>
              <%= f.text_field :duration, autocomplete: "off", :class => 'form-control' %>
            </div>
            <div class="form-group">
              <label><%= f.label :interest %></label>
              <%= f.text_field :interest, autocomplete: "off", :class => 'form-control' %>
            </div>

            <div class="text-right">
              <%= f.submit "Create Stock", :class => 'btn btn-primary button-width' %>
            </div>
          <% end %>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </body>
</html>


