<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"%>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @posts.name %></h1>
    </div>
  </div>
  <div class="row bg-light p-4 text-center">
      <div class="col"><h5>Unit price: <%= @posts.price %>$</h5></div>
      <div class="col"><h5>Duration: <%= @posts.duration %> years</h5></div>
      <div class="col"><h5>Interest: <%= @posts.interest %>%</h5></div>
  </div>
  <div class="row  p-4 chart">
    <canvas id="InterestChart"></canvas>
    <%= javascript_tag defer: 'defer' do %>
      var price = <%= @posts.price %>
      var duration = <%= @posts.duration %>
      var interest = <%= @posts.interest %>
      var rate_of_return = 1 + (interest / 100)
      var final_price = price * Math.pow(rate_of_return, duration)
      console.log('Final Price is: ', final_price)

      var ctx = document.getElementById("InterestChart").getContext('2d');
      var InterestChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        quarter: 'YYYY'
                    }
                }
            }],
            yAxes: [{
                ticks: {
                    min: price,
                    max: final_price
                }
            }]
        }
      }
      });
    <% end -%>
  </div>
</div>
</body>
</html>

<style>
  .chart {
    height: 500px;
  }
  #myChart {
    padding: 20px;
  }
</style>
